body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    
}


.container {
    width: 500px;
    background-color: #ffffff89;
    padding: 30px;
    box-shadow: 40px rgba(3, 8, 4, 0.143);
    border-radius: 10px;
    backdrop-filter:blur(12px);
}
    

h1, h2 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    backdrop-filter:blur(12px);
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a7a2b;
}

.hidden {
    display: none;
}
